.new-tweet {
  width: 80%;
}

.tweet-area {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  padding: 25px; 
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.tweet-actions {
  display: flex;
  justify-content: space-between;
}

.tweet-area textarea {
  resize: none;
  height: 50px;
  padding: 5px;
  margin-bottom: 5px;
  border: none;
  outline: none;
  background: none;
  border-bottom: 2px solid black;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: rgb(69, 69, 230);
  color: white;
  font-family: 'Bungee', sans-serif;
}

.counter {
  color: #545149;
  font-weight: bold;
  font-family: 'Bungee', sans-serif;
  justify-content: flex-end;
}


.counter.negative {
  color: red;
}
.counter.low {
  color: orange;
}

article.tweet {
  font-weight: bold;
  margin-top: 80px;
  border: 4px solid black;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

article.tweet:hover {
  box-shadow: 10px 5px 5px rgba(139, 131, 172, 0.397);
}

article.tweet header {
  display: flex;
  justify-content: space-between;
}

.left-section {
  display: flex;
  align-items: center;
}

.left-section img {
  margin-right: 20px;
}

article.tweet footer {
  padding-right: 20px;
  padding-left: 20px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 20px;
  border-top: 4px solid black;
  display: flex;
}

footer .symbol i {
  color: blue;
  margin-right: 5px;
}

footer .symbol i:hover {
  color: rgb(196, 156, 25);
  margin-right: 5px;
}

.tweet  {
  padding-left: 20px;
}

.handle {
  color:rgba(139, 131, 172, 0.568)
}
